// Counters.scss

.counter-card {
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  height: 120px; /* تحديد ارتفاع ثابت للكروت */
  padding: 5px; /* تقليل المسافات الداخلية */
}
